.zoom{
    transition: .5s;
    z-index: -1000;
}
.zoom:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale3d(1.2, 1.2, 1); 
    z-index: 1000;
    transition: .5s;
  }