.zoom {
  transition: 0.5s;
  z-index: -1000;
  padding: 10px 12px;
}
.zoom:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale3d(1.1, 1.1, 1);
  z-index: 1000;
  transition: 0.5s;
}
